<%- include("layouts/header") -%> 


<div class="mainframe">

    <h2> Account Infomation </h2>
    <div class="t_left">

        <h5> Username : 
            <span>
                <%= uData.username %>
            </span> 
        </h5> 
        <h5> Email : 
            <span>
                <%= uData.email %>
            </span> 
        </h5> 
        <h5> Password : 
            <span>
                <%= uData.password %>
            </span> 
        </h5> 
        <h5> Mobile : 
            <span>
                <%= uData.mobile %>
            </span> 
        </h5> 
        <h5> Gender : 
            <span>
                <%= uData.gender %>
            </span>
        </h5> 
        <h5> Nickname : 
            <span>
                <%= uData.nickname %>
            </span> 
        </h5> 

    </div>
    
</div>

    

<%- include("layouts/footer") -%> 